<h4>Problem Evaluation</h4>
<div id="visualiseAnalysis" class="container">
    <form role="form" id="analysisVisualisation"></form>
    <div class="row form-group">
        <span class="col-sm-2">
            <label>Enquiry Type</label>
            <select class="form-control" ng-model="enquiryType" 
                     ng-options="n for n in enquiryTypes">
            </select>
        </span>
        <span class="col-sm-3">
            <span ng-show="isEnquiryType('Process')">
                <label>Process</label>
                <select class="form-control" ng-model="enquiryObject" 
                  ng-options="n.name for n in getProcesses()">
                </select>
            </span>
            <span ng-show="isEnquiryType('Organisation')">
                <label>Organisation</label>
                <select class="form-control" ng-model="enquiryObject" 
                  ng-options="n.name for n in getOrganisations()">
                </select>
            </span>
            <span ng-show="isEnquiryType('Location')">
                <label>Location</label>
                <select class="form-control" ng-model="enquiryObject" 
                  ng-options="n.name for n in getLocations()">
                </select>
            </span>            
        </span>
        <span class="col-sm-2">
            <label>Depth: </label>
        <input class="form-control" type="number" min="2" max="5" ng-model="depth"></input>     
        </span>
        <span class="col-sm-7">&nbsp;</span>
    </div>
    <div class="row form-group">
        <span class="col-sm-2">
            <button type="button " class="btn " ng-click="evaluate()">Evaluate
            </button>
        </span>
        <span class="col-sm-10">&nbsp;</span>
    </div>
    <div>
        <node-visualisation instance="analysis"></node-visualisation>
    </div>
</div>
