@CHARSET "UTF-8";

section {
	margin:20px 0 0 10px;
}

.load {
  width: 65%;
}

.recommendation {
  width: 85%;
}

.auth-results {
  display: none;
  color: red;
}

.form-val-message {
  display: none;
  color: red;
}


.feedback {
    color: red;
    
}

.cap:first-letter {
    text-transform:capitalize;
}

.node-type-1 {
    color:blue;
}

.node-type-2 {
    color:green;
}

.node-type-3 {
    color: red;
}

.node-type-3 {
    color: maroon;
}

.node-type-4 {
    color: aqua;
}

.node-type-5 {
    color: lime;
}

.node-type-6 {
    color: olive;
}

.node-type-7 {
    color: purple;
}

.line {
    color: blue;
}
