@CHARSET "UTF-8";

section {
	margin:20px 0 0 10px;
}

.load {
  width: 65%;
}

.recommendation {
  width: 85%;
}

.auth-results {
  display: none;
  color: red;
}

.form-val-message {
  display: none;
  color: red;
}


.feedback {
    color: red;
    
}

.cap:first-letter {
    text-transform:capitalize;
}

.node {
  stroke: black;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.model-overview {
    height: 800;
    width: 1200;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  stroke: black;
  stroke-width: 1.5px;

    
}

lines_labels
 {
  font: 16px sans-serif;
  pointer-events: none;
}

.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

